<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field">

          <div class="control">
            <%= form_tag('/login') do %>

            <div class="field">
              <label class="label">Name</label>
              <div class="control">

                <%= text_field_tag :name, '', class: 'input' %>

              </div>
            </div>

            <%= submit_tag 'Login',
            class: 'button is-warning is-light mt-3' %>
            <% end %>

            <p class='mt-2'>No Account? <%= link_to 'Sign Up!', new_user_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>