<div class="section">
  <div class="container">
    <div class="media">
      <div class="media-content">
        <h1>hi</h1>
            <%= @user.created_events.find([:event_id]) %>
      <%
=begin%>
 <%= @event.find(session[:user_id]) %> 
<%
=end%>
      </div>
    </div>
  </div>
</div>